@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Popins', sans-serif; */
  font-family: "Lucida Console", Courier, monospace;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3b3a3a;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(./images/photo_selfi03.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 50px;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -250deg,
    #150844,
    #2d1291,
    #150844,
    #27034f,
    #27034f,
    #ff1361,
    #ff1361,
    #fff800,
    #ff1361,
    #150844,
    #2d1291
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}

nav ul li a::after {
  content: " ";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  position: absolute;
  left: 40%;
  margin-top: 15%;
  font-size: 30px;
}

.header-text h1 {
  margin-top: 20px;
  font-size: 60px;
}

.header-text h1 span {
  color: #f542d4;
}

h2 {
  margin-top: 20px;
  font-style: italic;
  font-size: 30px;
}

/* arrows */

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow
/*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari&& Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari&&Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

/* about */

.animate-charcter-02 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #ede1f0 29%,
    #5b576e 67%,
    #ff004f 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .about-col-1 {
    flex-basis: 35%
}

.about-col-1 img {
    width: 100%;
    border-radius: 20px;
} */

/* animated border */

.about-col-1 {
  flex-basis: 35%;
  /* moving border */
  display: inline-flex;
  padding: 3px;
  --border-size: 3px;
  --border-angle: 0turn;
  width: 80vmin;
  height: 75vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(
      from var(--border-angle),
      transparent 20%,
      rgb(239, 253, 40),
      #7913ff,
      #3e13ff,
      #ff1361
    );
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

&:hover {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.about-col-1 img {
  width: 100%;
  /* border-radius: 20px; */
}

.about-col-2 {
  flex-basis: 60%;
  font-size: 19px;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding: 5px;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  z-index: -50;
  transition: 0, 5s;
}

.tab-links.active-link::after {
  width: 80%;
}

.tab-contents {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #f1437a;
  letter-spacing: 5px;
  font-style: italic;
  font-size: 16px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* servises */

#services {
  /* background-color: #5b576e; */
  background-color: #564b87;
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.services-list div a:hover {
  transform: scale(1.1);
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/* portfolio */

#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  cursor: pointer;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  outline: none;
  background: #ff005100;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}

/* .btn:hover {
  transform: scale(1.1);
  background-color: #ff004f;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
} */
.btn:before {
  content: "";
  background: linear-gradient(
    -250deg,
    #150844,
    #150844,
    #150844,
    #27034f,
    #27034f,
    #ff1361,
    #ff1361,
    #fff800,
    #150844
  );

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #ff005100;
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff005100;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* ---contact--- */

#contact {
  background-image: url(./images/bg.jpg);
  row-gap: 20px;
}

.contact-left {
  margin-top: 50px;
  flex-basis: 35%;
  color: #ffffff;
  font-size: 15px;
}

.contact-right {
  flex-basis: 60%;
  margin-top: 50px;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ffffff;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  text-shadow: 1px 1px 2px rgb(83, 83, 83);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background-color: #ff004f;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px 30px;
  margin: 20px 0px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
}

form.btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  font-style: italic;
  word-spacing: 10px;
  padding: 25px 0;
  background: #262626;
  color: #626161;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i {
  color: #ff004f;
}

/* css for small screen */

nav .fa-solid {
  display: none;
}
/* media for tablet */
/* media medium tablet */
@media screen and (max-width: 1200px) {
  #sidemenu {
    display: flex;
    column-gap: 1px;
    padding: 0px;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul li a {
    font-size: 15px;
  }
  nav ul li {
    margin: 5px 20px;
    padding: 0px;
  }
  .header-text {
    font-size: 20px;
  }

  .header-text h1 {
    margin-top: 45%;
    font-size: 35px;
  }

  h2 {
    margin-top: 20px;
    font-style: italic;
    font-size: 18px;
  }
  .about-col-1 {
    display: none;
  }
  .tab-links {
    width: 10em;
    margin-right: 20px;
    font-size: 17px;

    padding: 1px;
  }
  .about-col-2 {
    font-size: 15px;
  }
  .services-list {
    grid-template-columns: none;
  }
  .services-list div {
    padding: 15px;
  }
  .services-list div ul {
    padding: 15px;
  }
  .services-list div i {
    font-size: 40px;
  }
  .work-list {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 14px;
  }
  .contact-left {
    margin-right: 30px;
  }
  .row {
    flex-wrap: nowrap;
  }
  form input,
  form textarea {
    padding: 8px 18px;
    margin: 15px 0px;
    font-size: 15px;
  }
  .copyright {
    padding: 15px 0;
  }
  .copyright p {
    font-size: 12px;
  }
}
/* media for phone */
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(images/phone02.png);
  }
  .container {
    padding: 5px;
  }
  .header-text {
    margin-top: 30%;
  }
  .header-text p {
    display: none;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .header-text h2 {
    font-size: 15px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav .fa-bars {
    display: block;
    margin-left: 75%;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
  }
  /* nav .fa-bars:hover {
        transform: scale(1.1);
        text-shadow: 1px 1px 2px rgb(255, 255, 255);
    } */
  nav ul {
    background: #414141;
    position: fixed;
    top: 0;
    right: 0px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    margin-top: 30px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 30px;
    margin-left: 20px;
  }
  .tab-contents ul {
    padding: 30px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-2 p {
    font-size: 14px;
  }
  .about-col-1 {
    flex-basis: 60%;
    /* moving border */
    display: inline-flex;
    padding: 3px;
    --border-size: 3px;
    --border-angle: 0turn;
    margin-left: 20%;
    width: 80vmin;
    height: 75vmin;
    background-image: conic-gradient(
        from var(--border-angle),
        #213,
        #112 50%,
        #213
      ),
      conic-gradient(
        from var(--border-angle),
        transparent 20%,
        #ff004f,
        #ffc400,
        #6f00ff,
        rgb(97, 0, 142)
      );
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  &:hover {
    animation-play-state: paused;
  }
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  .about-col-1 img {
    width: 100%;
    /* border-radius: 20px; */
  }
  .about-col-2 {
    font-size: 14px;
  }
  /* co tworze */
  .services-list {
    padding: 30px;
  }
  /* my work */
  .work-list {
    padding: 30px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    font-size: 12px;
    padding: 30px;
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
  .work-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .row {
    flex-wrap: wrap;
  }
  .contact-right {
    margin-top: -70px;
  }
  .tab-links {
    width: 7em;
  }
  #sidemenu {
    flex-direction: column;
    padding: 35px;
    justify-content: start;
  }
}

#msg {
  color: #ffffff;
  font-weight: bold;
  margin-top: -40px;
  display: block;
}

/* loader */

#preloader {
  background: #000 url(./images/MPiJ.gif) no-repeat center center;
  background-size: 6%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff004f;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 15px;
}

#myBtn:hover {
  background-color: #555;
}
